@font-face {
    font-family: AeonikRegular;
    src: url(../fonts/Aeonik-Regular.ttf);
}

@font-face {
    font-family: AeonikBold;
    src: url(../fonts/Aeonik-Bold.ttf);
}

body{
    cursor: none;
}

.container-div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 5%;
}

.row-div{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
}

.section-title{
    font-family: 'AeonikBold', serif;
    font-size: 3.5rem;
    margin-bottom: 2vh;
}

.button-group {
    display: flex;
    gap: 5vh;
}

.filters-button-group .button{
    border: none;
    background: none;
    font-size: 1.3rem;
}

.sort-by-button-group .button {
    border: none;
    background: none;
    font-size: 1rem;
}

.button-group .button.active,
.button-group .button.is-checked{
    color: #025751;
    padding-bottom: 2px;
    border-bottom: 2px solid #025751;
}

.portfolio-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-gallery .portfolio-works-selection{
    flex: 1 1 46%;
    max-width: 46%;
    margin: 2% 2%;
    text-align: left;
}
.portfolio-gallery .portfolio-works-selection .cover-image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.portfolio-gallery .portfolio-works-selection img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.portfolio-gallery .portfolio-works-selection .project{
    color: #222222;
    font-weight: 300;
    font-size: 14px;
    margin: 0 0.5%;
}

.portfolio-gallery .portfolio-works-selection .project.year{
    float: right;
}
.portfolio-gallery .portfolio-works-selection .project.condition{
    display: none;
}
 
@media(max-width:767px){
 
    .portfolio-gallery .portfolio-works-selection{
        flex:0 0 50% ;
        max-width: 50%;
        padding:8px ;
    }
 
}
@media(max-width:500px){
 
    .portfolio-gallery .portfolio-works-selection{
        flex:0 0 100% ;
        max-width: 100%; }
}