@font-face {
    font-family: AeonikRegular;
    src: url(fonts/Aeonik-Regular.ttf);
}

@font-face {
    font-family: AeonikBold;
    src: url(fonts/Aeonik-Bold.ttf);
}

/* ------------- LOADER DE LA PAGE ET TRANSITION -----------------*/

/* Fullscreen loader with a rotating circle */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease;
}

/* Animated circle loader */
.circle {
    width: 100px;
    height: 100px;
    border: 10px solid #f0f1fa;
    border-top-color: #025751;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

/* Spin animation for the loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide the loader after fade-out */
#loader.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 0s 1s;
}

/* Initial hidden state for content */
#content {
    opacity: 0;
    transform: translateY(50px); /* Slight upward movement */
    transition: opacity 1s ease, transform 1s ease;
}

/* Revealed content */
#content.show {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
}

/* ------------- CSS DE LA SCROLLBAR -------------- */

/* Cibler toutes les barres de défilement */
::-webkit-scrollbar {
    width: 0; /* Largeur de la barre */
    height: 0;
}
/* Style de la zone de défilement (arrière-plan) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de fond */
}
/* Style du curseur de défilement */
::-webkit-scrollbar-thumb {
    background: #888; /* Couleur du curseur */
    border-radius: 10px; /* Arrondis des coins */
}
/* Style du curseur lors du survol */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur du curseur au survol */
}

/* ------------- CSS DU CURSEUR -------------- */
:root {
    --base-cursor-color: rgb(150, 150, 150);
    --base-hover-color: rgb(130, 130, 130);
    --base-active-color: rgb(150, 150, 150);

    --cursor-gradient-inner: var(--base-cursor-color);
    --cursor-gradient-outer: rgb(100, 100, 100);
    --cursor-gradient-stop-1: 20%;
    --cursor-gradient-stop-2: 100%;
    --cursor-radius: 12px;

    --click-transition: .15s;
}

.cursor {
    background: radial-gradient(circle,
    var(--cursor-gradient-inner) 0%,
    var(--cursor-gradient-inner) var(--cursor-gradient-stop-1),
    var(--cursor-gradient-outer) var(--cursor-gradient-stop-2));
    border-radius: 50%;
    height: calc(2 * var(--cursor-radius));
    opacity: 0.7;
    pointer-events: none;
    position: absolute;
    margin: calc(-1 * var(--cursor-radius)) 0 0 calc(-1 * var(--cursor-radius));
    transition: background var(--click-transition) ease;
    width: calc(2 * var(--cursor-radius));
    z-index: 1000;
}

/* ------------- CSS DE LA PAGE -------------- */
/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "AeonikRegular", serif;
    background-color: #f0f1fa;
    scroll-behavior: smooth;
    cursor: none;
    overflow-x: clip;
}

body {
    opacity: 0;
    transition: opacity .5s;
}

/* ------------- CSS DU HEADER ET DE LA NAVBAR -------------- */
header {
    position: relative;
    width: 100%;
    z-index: 1000;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: none;
}

/* ------------- CSS DES BOUTONS DE LA NAVBAR -------------- */
button {
    font-family: "AeonikBold", serif;
    cursor: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 2em;
}

.talkButton, .menuButton{
    padding : 20px 30px 20px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 100px;
    transition: ease-in-out all 250ms;
}

.talkButton {
    background-color: #2b2e3b;
    color: white;
}

.talkButton:hover {
    background-color: #025751;
}

.menuButton {
    display: flex;
    align-items: center;
    alignment-baseline: center;
    gap: 10px;
    background-color: #e4e6f0;
    transition: background-color 0.3s ease;
}

.menuButton.active {
    background-color: white;
}

.menuButton:hover {
    background-color: white;
}

.dots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    transition: transform 0.5s ease;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #333; /* Couleur des points */
    border-radius: 50%;
}

/* Pour le dernier point, enlever la marge à droite */
.dot:last-child {
    margin-right: 0;
}

.menuButton:hover > .dots-container{
    transform: rotate(90deg);
    gap: 3px;

}

.menuButton.active > .dots-container{
    transform: rotate(90deg);
    gap: 3px
}

/* ------------- CSS DU MENU CACHE DEROULANT -------------- */
/* Conteneur du menu */
.menu-container {
    font-family: "AeonikBold", serif;
    font-size: 2rem;
    position: absolute;
    top: 12vh;
    right: 2%;
    width: 30vh;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform: translateY(-20px);
    z-index: 1000;
}

.menu-container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    cursor: none;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: #000;
        transition: width .2s;
    }

    &:hover::after {
        width: 100%;
    }
}

/* Boîtes de menu */
.menu-box {
    padding: 10% 15%;
    text-align: left;
}

.menu-box:last-child {
    border-bottom: none;
}

/* Classes pour la transition d'apparition */
.menu-container.hidden {
    display: none;
}

.menu-container.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Animation de cascade */
.menu-box {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-container.visible .menu-box:nth-child(1) {
    transition-delay: 0.1s;
    opacity: 1;
    transform: translateY(0);
}

.menu-container.visible .menu-box:nth-child(2) {
    transition-delay: 0.2s;
    opacity: 1;
    transform: translateY(0);
}

.menu-container.visible .menu-box:nth-child(3) {
    transition-delay: 0.3s;
    opacity: 1;
    transform: translateY(0);
}

.menu-container.visible .menu-box:nth-child(4) {
    transition-delay: 0.4s;
    opacity: 1;
    transform: translateY(0);
}

/* ------------- CSS DES SECTIONS -------------- */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}

.section a {
    cursor: none;
}

/* ------------- CSS DU SCROLL-DOWN -------------- */
.scroll-downs {
    position: fixed;
    top: 80vh;
    right: auto;
    bottom: auto;
    left: auto;
    width :34px;
    height: 55px;
    z-index: 1000;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: black;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

/* ------------- CSS DU SCROLL TO TOP -------------- */
.scroll-to-top {
    bottom: 5%;
    right: 5%;
    transform: translate3d(-50%,-50%,0);
    background-color: transparent;
    border: solid 2px black;
    border-radius: 30px;
    position: fixed;
    width: 30px;
    height: 60px;
    padding: 10px 15px;
    z-index: 90;
    cursor: none;
    display: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.scroll-to-top.visible {
    display: flex; /* Afficher le bouton lorsqu'il devient visible */
    opacity: 1; /* Rendre l'élément visible */
}

.scroll-to-top::after {
    position: absolute;
    content: '';
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    transition-delay: 0s;
    transition-duration: .4s;
    transition-property: top, height, border-left-color;
    transition-timing-function: ease;
}

.scroll-to-top .arrow-up {
    position: absolute;
    width: 10px;
    height: 40px;
    transform: translate3d(0,0,0);
}

.scroll-to-top:hover .arrow-up {
    animation: arrow .8s 1 cubic-bezier(0,-.55,0,1.55);
}

.line_stars {
    position: absolute;
    top: 0;
    z-index: 0;
    filter: blur(10px);
    opacity: 0.80;
}

.pageTitle {
    z-index: 1;
    user-select: none;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.about-img a {
    padding : 20px 30px 20px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 100px;
    transition: ease-in-out all 250ms;
    background-color: #2b2e3b;
    color: white;
    text-decoration: none;
    vertical-align : middle;
    text-align: center;
    white-space : nowrap;
}

.about-img a:hover {
    background-color: #025751;
}

#about img {
    height: 95vh;
    image-resolution: 4000dpi;
    transition: height ease-in-out 250ms;
}

/* ------------- CSS DES ANIMATIONS -------------- */
@keyframes arrow {
    50% { transform: translate3d(0,-15%,0); }
    to { transform: translate3d(0,0,0); }
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media(max-width:767px){

    .cursor {
        display: none;
    }

    .talkButton {
        display: none;
    }

    .pageTitle {
        font-size: 4rem;
    }

    .menu-container {
        top: 13vh;
    }

    .about-img img{
        display: none;
    }

    .project {
        flex-direction: column;
        gap: 5vh;
    }
}
@media(max-width:500px){

    .portfolio-gallery .portfolio-works-selection{
        flex:0 0 100% ;
        max-width: 100%; }
}